[Interface]
PrivateKey = {{ENTRY_WG_PRIVATE_KEY}}
Address = 10.0.0.2/24
ListenPort = 51820

PostUp = ip rule add from 10.0.0.2 table 100
PostUp = ip route add default dev wg0 table 100
PostDown = ip rule delete from 10.0.0.2 table 100
PostDown = ip route delete default dev wg0 table 100

[Peer]
PublicKey = {{EXIT_WG_PUBLIC_KEY}}
Endpoint = {{EXIT_PUBLIC_IP}}:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25