[Interface]
PrivateKey = {{EXIT_WG_PRIVATE_KEY}}
Address = 10.0.0.1/24
ListenPort = 51820

PostUp = sysctl -w net.ipv4.ip_forward=1
PostUp = iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
PublicKey = {{ENTER_WG_PUBLIC_KEY}}
AllowedIPs = 10.0.0.2/32